<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver3.board.BoardMapper">
    <insert id="insBoard">
        insert into t_board
        (title,ctnt,iuser)
        values
        (#{title},#{ctnt},#{iuser})
    </insert>

<select id ="selBoard" resultType="BoardVo">
    select iboard,title,created_at createdAt
    from t_board
    limit #{Idx},#{row}
</select>
    <select id="selBoardRowCount" resultType="int">
        SELECT COUNT(iboard)
        FROM t_board
    </select>


</mapper>